{% extends "base.html" %}
{% block content %}
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">License Plate Number</th> -->
        <th scope="col">user id</th>
        <th scope="col">arrival id</th>
        <th scope="col" >Parent Name</th>
        <th scope="col">Time</th>
        <th scope="col">Child</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
    {% for arrival in arrivals %}

    <tr>
      <td>{{ arrival.user_id}}</td>
        <td>{{ arrival.id}}</td>
        <td>{{ arrival.first_name}} {{ arrival.last_name}}</td>
        <!-- <td>{{ arrival[1].first_name }}</td> -->
        <!-- <td>{{ arrival[1].last_name }}</td> -->
        <td id="time{{loop.index0}}" class="time">{{ arrival.time }}</td>
    <!-- <p>{{ arrival[1].name }},</p> -->
    <td>{{ arrival.name }}</td>
    <td>{{ arrival.grade }}</td>
    <!-- <script>
       var time = document.getElementById('time' + {{loop.index0}}).innerHTML;
        var old_date = new Date(time + ' UTC');
        document.getElementById('time' + {{loop.index0}}).innerHTML = old_date.toLocaleString();
    </script> -->
    <!-- <td>htds</td> -->
    {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
<script>
// var table = $('#data').DataTable();
 
//  var filteredData = table
//      .column( 0 )
//      .data()
//      .filter( function ( value, index ) {
//          return value > 20 ? true : false;
//      } );
$(document).ready(function() {
    $('#data').DataTable( {
      'iDisplayLength': 50,
      stateSave: true,
      columns: [
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: true},
        ],
        "order": [[ 3, "desc" ]]
    } );
} );
// $(document).ready(function() {
//     $('#data').DataTable( {
//         stateSave: true
//     } );
// } );

// $(document).ready(function() {
  
  // function displaySearch() {
  //   table = $('#data').DataTable();
  //   console.log("TABLE = " + table.search());
  //   for (var i = 0; i < table.columns().count(); i++) {
  //     console.log("Column " + i + ": " + table.column(i).search());
  //   }
  // }
  
//   // Create the DataTable
//   var table = $("#data").DataTable({
//     orderCellsTop: true,
//     stateSave: true,
//     initComplete: function() {
//       var table = this.api();

//       // Add filtering
//       table.columns().every(function() {
//         var that = this;

//         // Create the `select` element
//         var input = $('<input type="text" />')
//           .appendTo($("thead tr:eq(1) td").eq(this.index()))
//           .on("keyup", function() {
//             that.search($(this).val()).draw();
//           });

//         // Restore state saved values
//         var state = this.state.loaded();
//         if (state) {
//           var val = state.columns[this.index()];
//           input.val(val.search.search);
//         }
        
//       });
      
//       //displaySearch();

//     }
//   });
  
//   table.on('search.dt', function() {
//    // displaySearch();
//   });
// });

var times = document.getElementsByClassName("time");
for (let i = 0; i < times.length; i++) {
  old_date = new Date(times[i].innerHTML + ' UTC');
  times[i].innerHTML = old_date.toLocaleString();
}

// Convert ISO8601 dates into a simple human readable format
// $('#data').DataTable( {
//     columnDefs: [ {
//       targets: 3,
//       render: $.fn.dataTable.render.moment( 'MM-DD-YYYY', 'MM-YY')
//     } ]
//   } );

  


// for (int )
</script>
  <!-- <script>
$(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#data thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#data thead');
 
    var table = $('#data').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();
 
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
 
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
});
  </script> -->
{% endblock %}