{% extends "base.html" %}
{% block content %}
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">License Plate Number</th> -->
        <th scope="col">parent id</th>
        <th scope="col">arrival id</th>
        <th scope="col" >Parent Name</th>
        <th scope="col">Time</th>
        <th scope="col">Child</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
    {% for arrival in arrivals %}

    <tr>
      <td>{{ arrival.parent_id}}</td>
        <td>{{ arrival.id}}</td>
        <td>{{ arrival.first_name}} {{ arrival.last_name}}</td>
        <!-- <td>{{ arrival[1].first_name }}</td> -->
        <!-- <td>{{ arrival[1].last_name }}</td> -->
        <td id="time{{loop.index0}}" class="time">{{ arrival.time }}</td>
    <!-- <p>{{ arrival[1].name }},</p> -->
    <td>{{ arrival.name }}</td>
    <td>{{ arrival.grade }}</td>
    <!-- <script>
       var time = document.getElementById('time' + {{loop.index0}}).innerHTML;
        var old_date = new Date(time + ' UTC');
        document.getElementById('time' + {{loop.index0}}).innerHTML = old_date.toLocaleString();
    </script> -->
    <!-- <td>htds</td> -->
    {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
    $('#data').DataTable( {
      'iDisplayLength': 50,
      stateSave: true,
      columns: [
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: true},
        ],
        "order": [[ 3, "desc" ]]
    } );
} );

var times = document.getElementsByClassName("time");
for (let i = 0; i < times.length; i++) {
  old_date = new Date(times[i].innerHTML + ' UTC');
  times[i].innerHTML = old_date.toLocaleString();
}
  

</script>
{% endblock %}