{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
      <div id="emailHelp" class="form-text">We'll never share your information with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}